* {
  margin: 0;
  padding: 0;
}
:root {
  --secondary-color: #c9bfff;
  --main-color: #43485f;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e7ecfc;
}
@media (max-width: 767px) {
  .page {
    height: auto;
  }
}
.page .container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 550px;
}
@media (max-width: 767px) {
  .page .container {
    display: block;
  }
}
.page .container .card1 {
  text-align: center;
  background-color: red;
  border-radius: 20px;
  background: linear-gradient(#6643fc, #312cea);
}
.page .container .card1 .content {
  margin: 25px;
  font-family: "Open Sans";
}
.page .container .card1 .content h3 {
  color: var(--secondary-color);
  margin-bottom: 25px;
}
.page .container .card1 .content .circle {
  background: linear-gradient(#4c23ca, #4734ee);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.page .container .card1 .content .circle div {
  font-size: 32px;
  font-weight: 600;
  color: white;
}
.page .container .card1 .content .circle h5 {
  color: var(--secondary-color);
}
.page .container .card1 .content h2 {
  margin: 25px 0;
  color: white;
}
.page .container .card1 .content p {
  color: var(--secondary-color);
  font-size: 15px;
  line-height: 22px;
}

.page .container .card2 {
  background-color: white;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .page .container .card1,
  .page .container .card2 {
    padding: 20px;
  }
}
.page .container .card2 .content {
  margin: 25px;
  font-family: "Open Sans";
}
.page .container .card2 .content h3 {
  margin-bottom: 25px;
  color: var(--main-color);
}
.page .container .card2 .content .status-bar {
  display: flex;
  flex-direction: column;
}
.page .container .card2 .content .status-bar .status {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.page .container .card2 .content .status-bar .status .name {
  /* display: inline-block;
  width: 65px; */
}
.page .container .card2 .content .status-bar .status .changeful-number {
  color: var(--main-color);
  font-weight: 600;
}
.page .container .card2 .content .status-bar .status .const-number {
  color: var(--secondary-color);
}
.page .container .content button {
  width: 100%;
  margin: 15px 0 0;
  padding: 10px 0;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
}
